.stitched {
   padding: 10px;
   margin: 50px;
   background: #d7baff;
   color: #6502e8;
   font-family: "Bradley Hand";
   font-size: 100px;
   line-height: 1.5em;
   border: 5px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #a487ed, 12px 6px 36px 24px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}

body {
  padding: 10px;
}
